.btn-milestone {
    padding: 1rem 2rem;
    display: inline-block;
    background-color: $button-primary;
    color: #ffffff;
    border-radius: 1.5rem;
    line-height: 1;
    border: none;
    font-weight: 700;
    max-width: 300px;
    position: relative;
    margin-bottom: .4rem;

    @include media-fluid(xs, lg) {
        background-color: transparent;
        padding: 0;
        color: $button-primary;
        font-size: .8rem;     
    }

    & i {
        display: none;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        margin: auto;
        font-size: 1.2rem;
        background-color: $button-primary;
        line-height: 1; 
        margin-bottom: .5rem;

        @include media-fluid(xs, lg) {
            display: flex; 
        }
    }
}
