
.container-wrapper {
    @include media-fluid(xs, md) {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    
}


.container-milestone {  
    background-color: $mileston-background;
    padding: 2rem 5rem;

    @include media-fluid(xs, md) {
        padding: 2rem 1.5rem;
    }
}

.area  {

    &.area--physical {
        background-color: $physical-area;
    }

    &.area--social {
        background-color: $emotional-area;
    }

    color: #ffffff;

    & .title, .skill {
        text-align: center;
        font-weight: 900;
    }

    @include media-fluid(xs, md) {
        & .title { font-size: 1.2rem; }
    
        & .skill { font-size: 1.5rem; }
    }

    & .indicator {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        & .indicator-item {
            padding: .7rem 1.7rem;
            font-weight: 800;
            text-align: center;
            min-width: 200px;
            border: 1px solid #ffffff;
            background-color: transparent;
            color: #ffffff;

            @include media-fluid(xs, md) {
                min-width: 150px;
                font-size: .7rem;
            }
        }

        & .indicator--left {
            border-radius: 1.5rem 0 0 1.5rem;
            // background-color: #ffffff;
            // color: $physical-area;
        }

        & .indicator--rigth {
            border-radius: 0 1.5rem 1.5rem 0;
            // background-color: $physical-area;
            // color: #ffffff;
        }

    }
}


.milestone {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    color: $text-color-default;
    font-weight: 400;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    & .title {
        font-weight: 800;
        margin-bottom: .2rem;
        @include media-fluid(xs, sm) {
            font-size: 1rem;
        }
    }

    & .subtitle {
        margin-bottom: .2rem;
        @include media-fluid(xs, sm) {
            font-size: .7rem;
        }
    }
}

.divider {
    background-color: rgba(#ffffff, .8);
    width: 70%;
    margin: 1rem auto;
    height: 2px;
}

.btn-next {
    padding: 1rem 2rem;
    display: inline-block;
    background-color: $button-primary;
    color: #ffffff;
    border-radius: 1.5rem;
    line-height: 1;
    border: none;
    font-weight: 700;
    width: 420px;
    margin: auto;
    margin-bottom: 4rem;

    @include media-fluid(xs, sm) {
        width: 90%;
    }
}