// COLORS


// BODY
$body-background: #F8F8F8;

// SECTION MILESTONES
$physical-area: #1FADDF;
$emotional-area: #D43571;
$button-primary: #75B753;
$button-primary-invert: #F0F0F0;
$mileston-background: #FFFFFF;
$text-color-default: #828e98;

