* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body {
    background-color: $body-background;
}

button:hover, 
button:focus, 
button:active {
    outline: none;
    border: none;
}

.pointer { cursor: pointer;}